<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enter you data</title>
</head>
<body>
  <form action="save"method="post">
    <table>
      <tr>
        <td>
          <label>UserName</label>
        </td>
        <td><input type="text" name="name"/></td>
      </tr>

      <tr>
        <td>
          <label>Email</label>
        </td>
        <td><input type="text" name="email"/></td>
      </tr>
      <td></td>
      <td><input type="submit" value="Submit"/></td>
    </table>
  </form>
</body>
</html>